@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./../fonts/jost-v9-latin-regular.woff2") format("woff2"), url("./../fonts/jost-v9-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./../fonts/jost-v9-latin-500.woff2") format("woff2"), url("./../fonts/jost-v9-latin-500.woff") format("woff");
}

html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h1 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
}

h3 {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h4 {
  font-family: Jost;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.5;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

.text {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1151px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.button-dark {
  max-width: 152px;
  min-width: 152px;
  min-height: 56px;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
}

.button-dark:hover {
  background: #FFAD9B;
  border-radius: 8px;
  color: #FFFFFF;
}

.button-light {
  max-width: 152px;
  min-width: 152px;
  min-height: 56px;
  display: inline-block;
  border: none;
  background: #E7816B;
  border-radius: 8px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333136;
}

.button-light:hover {
  background: #FFAD9B;
}

.body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 9999;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  padding-top: 60px;
}

.header__nav-link {
  color: #333136;
}

.header__logo {
  vertical-align: middle;
  width: 196px;
  height: 24px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333136;
}

.header__item:hover {
  -webkit-box-shadow: 0 1px 0 black;
          box-shadow: 0 1px 0 black;
}

.header__item + .header__item {
  margin-left: 42px;
}

.header__btn {
  display: none;
}

@media only screen and (max-width: 650px) {
  .header {
    position: relative;
  }
  .header__container {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .header__nav {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: calc(100vh - 100px);
    z-index: 1;
  }
  .header--active .header__nav {
    display: block;
  }
  .header__list {
    top: 100%;
    left: 0;
    background-color: #1D1C1E;
    width: 100%;
    padding: 32px 24px;
    z-index: 2;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__nav-link {
    color: white;
    padding: 16px 0;
  }
  .header__item + .header__item {
    margin-left: 0;
  }
  .header__btn {
    display: block;
    outline: none;
    background: none;
    border: none;
  }
  .header__btn:hover {
    opacity: 0.5;
  }
  .header__btn-cross {
    display: none;
  }
  .header--active .header__btn-burger {
    display: none;
  }
  .header--active .header__btn-cross {
    display: block;
  }
}

.hero {
  margin-bottom: 160px;
}

.hero__container {
  position: relative;
}

.hero__container::before {
  content: "";
  display: block;
  width: 1004px;
  height: 596px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(./../images/main-bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-transform: translate(-165px, 274px);
          transform: translate(-165px, 274px);
  z-index: -1;
}

.hero__wrapper {
  background-color: #E7816B;
  border-radius: 15px;
  padding-top: 145px;
  padding-left: 95px;
  padding-bottom: 145px;
  background-image: url(./../../images/hero-bg-fon.svg), url(./../../images/hero-bg-tel.png);
  background-repeat: no-repeat;
  background-position: top right, calc(100% - 98px) calc(100%);
}

.hero__heading {
  max-width: 540px;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.hero__text {
  max-width: 445px;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.bitmap {
  margin-bottom: 160px;
}

.bitmap__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
}

.bitmap__box-web {
  max-width: 541px;
  width: 100%;
  min-height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  background-image: url(./../images/web.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bitmap__box {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.bitmap__box::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bitmap__box:hover::before {
  background-color: #E7816B;
}

.bitmap__box:active::before {
  background-color: #d9ff00;
}

.bitmap__heading {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  text-align: center;
  z-index: 999;
  opacity: 100%;
}

.bitmap__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.bitmap__text {
  padding-right: 21px;
  z-index: 999;
  opacity: 100%;
}

.bitmap__inner {
  max-width: 541px;
  width: 100%;
}

.bitmap__box-app {
  max-width: 541px;
  width: 100%;
  min-height: 308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 21px;
  background-image: url(./../images/app.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bitmap__box-graphic {
  max-width: 541px;
  width: 100%;
  min-height: 308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(./../images/graphic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow {
  z-index: 999;
  opacity: 100%;
}

.servises {
  margin-bottom: 380px;
}

.servises__container {
  position: relative;
}

.servises__container::before {
  content: "";
  display: block;
  width: 1004px;
  height: 596px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(./../images/main-bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-transform: translate(165px, 274px) rotate(180deg);
          transform: translate(165px, 274px) rotate(180deg);
  z-index: -1;
}

.servises__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servises__item {
  max-width: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #333136;
}

.servises__item + .servises__item {
  margin-left: 30px;
}

.servises__image {
  width: 202px;
  height: 202px;
  vertical-align: middle;
  margin-bottom: 48px;
}

.servises__heading {
  margin-bottom: 32px;
}

.project__container {
  position: relative;
}

.project__wrapper {
  max-width: 1111px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 72px 96px 72px 95px;
  background-color: #E7816B;
  border-radius: 15px;
  position: absolute;
  -webkit-transform: translateY(-220px);
          transform: translateY(-220px);
  background-image: url(./../images/project-bg.svg);
  background-repeat: no-repeat;
  background-position: calc(100%);
  background-size: contain;
}

.project__heading {
  max-width: 300px;
  margin-bottom: 20px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.project__text {
  max-width: 459px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.footer {
  padding-top: 144px;
  padding-bottom: 72px;
  background-color: #1D1C1E;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.footer__nav-link {
  color: #FFFFFF;
}

.footer__nav-item + .footer__nav-item {
  margin-left: 42px;
}

.footer__nav-item:hover {
  -webkit-box-shadow: 0 1px 0 #FFFFFF;
          box-shadow: 0 1px 0 #FFFFFF;
}

.footer__line {
  display: inline-block;
  width: 100%;
  height: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #FFFFFF;
  opacity: 0.1;
  margin-bottom: 30px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 730px;
  width: 100%;
}

.footer__bottom-location {
  max-width: 350px;
  width: 100%;
  margin-right: 30px;
  font-family: Jost;
  color: #FFFFFF;
}

.footer__bottom-heading {
  line-height: 26px;
  opacity: 0.5;
}

.footer__bottom-text {
  line-height: 26px;
  opacity: 0.5;
}

.footer__address {
  display: inline-block;
  opacity: 0.5;
}

.footer__bottom-call {
  max-width: 350px;
  width: 100%;
  font-family: Jost;
}

.footer__call-heading {
  font-family: Jost;
  color: #FFFFFF;
  line-height: 26px;
  opacity: 0.5;
}

.footer__tell-link {
  font-family: Jost;
  color: #FFFFFF;
  line-height: 26px;
  opacity: 0.5;
}

.footer__mail-link {
  font-family: Jost;
  color: #FFFFFF;
  opacity: 0.5;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item + .footer__item {
  margin-left: 16px;
}

.footer__item:hover path {
  fill: #FFAD9B;
}

.footer__boottom-image {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.footer .twitter-image {
  width: 24px;
  height: 19.5px;
}
/*# sourceMappingURL=main.css.map */