.body{
    // padding-top: 141px;
    overflow-x: hidden;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 9999;

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    &__nav{
        color: #333136;
    }

    &__logo {
        vertical-align: middle;
        width: 196px;
        height: 24px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: #333136;
    }

    &__item:hover {
        box-shadow: 0 1px 0 black;
    }

    &__item + &__item {
        margin-left: 42px;
    }

    &__btn {
        display: none;
    }
    
}

@media only screen and (max-width:650px) {
    .header{
        position: relative;

        &__container {
            padding-top: 35px;
            padding-bottom: 35px;
        }
        
        &__nav {
            position: absolute;
            display: none;
            top: 100%;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            // opacity: 0.5;
            width: 100vw;
            height: calc(100vh - 100px);
            z-index: 1;
        }

        &--active &__nav {
            display: block;
        }

        &__list {
            top: 100%;
            left: 0;
            background-color: red;
            // opacity: 1;
            width: 100%;
            padding: 32px 24px;
            z-index: 2;
        }

        &__list {
            flex-direction: column;
            align-items: flex-start;
        }

        &__nav-link {
            color: white;
            padding: 16px 0;
        }

        &__item + &__item {
            margin-left: 0;
        }
        
        &__btn {
            display: block;
            outline: none;
            background: none;
            border: none;

            &:hover {
                opacity: 0.5;
            }
        }

        &__btn-cross {
            display: none;
        }

        &--active &__btn-burger {
            display: none;
        }

        &--active &__btn-cross {
            display: block;
        }

    }
    
}
