.hero {
    margin-bottom: 160px;
    
    &__container {
        position: relative;

    &::before{
        content: "";
        display: block;
        width: 1004px;
        height: 596px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url(./../images/main-bg.svg);
        background-repeat: no-repeat;
        background-size: auto;
        transform: translate(-165px, 274px);
        z-index: -1;
    }
    }

    &__wrapper {
        background-color: $peach;
        border-radius: 15px;
        padding-top: 145px;
        padding-left: 95px;
        padding-bottom: 145px;
        background-image: url(./../images/bg-fon.svg), url(./../images/bg-tel.png);
        background-repeat: no-repeat;
        background-position: top right, calc(100% - 98px) calc(100%);
    }

    &__heading {
        max-width: 540px;
        margin-bottom: 40px;
        color: $white;
    }

    &__text {
        max-width: 445px;
        margin-bottom: 40px;
        color: $white;
    }
}