.project {
    
    &__container {
        position: relative;
        
    }

    &__wrapper{
        max-width: 1111px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 72px 96px 72px 95px;
        background-color: $peach;
        border-radius: 15px;
        position:absolute;
        transform: translateY(-220px);
        background-image: url(./../images/project-bg.svg);
        background-repeat: no-repeat;
        background-position: calc(100%);
        background-size: contain;
    }

    &__heading {
        max-width: 300px;
        margin-bottom: 20px;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        color: $white;
    }

    &__text {
        max-width: 459px;
        font-family: Jost;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: $white;
    }
}
