.servises {
    margin-bottom: 380px;

    &__container {
        position: relative;

    &::before{
        content: "";
        display: block;
        width: 1004px;
        height: 596px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url(./../images/main-bg.svg);
        background-repeat: no-repeat;
        background-size: auto;
        transform: translate(165px, 274px) rotate(180deg);
        z-index: -1;
    }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }

    &__item {
        max-width: 350px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align:center;
        color: $darkgrey;
    }

    &__item + &__item{
        margin-left: 30px;
    }

    &__image {
        width: 202px;
        height: 202px;
        vertical-align: middle;
        margin-bottom: 48px;
    }

    &__heading {
        margin-bottom: 32px;
    }


}